<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396091221361-6afkqpnuon9p6p083p7jseilnf8ofa1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396091221361-6afkqpnuon9p6p083p7jseilnf8ofa1j</string>
	<key>API_KEY</key>
	<string>AIzaSyDK32LX1dVhuznQ_h2XNjdEJvY7TKy4SnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>396091221361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.grapevineapp.Grapevine</string>
	<key>PROJECT_ID</key>
	<string>slideplanningapp</string>
	<key>STORAGE_BUCKET</key>
	<string>slideplanningapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:396091221361:ios:7d5358e04e20dd2996c2d0</string>
	<key>DATABASE_URL</key>
	<string>https://slideplanningapp.firebaseio.com</string>
</dict>
</plist>
